<div class="page">
    <div class="btnLayout">
        <div *ngIf="starwars" class="button btnActive" (click)="starwarsbtn()"><h2>Starwars</h2></div>
        <div *ngIf="!starwars" class="button" (click)="starwarsbtn()"><h2>Starwars</h2></div>
        <div *ngIf="pokemon" class="button btnActive" (click)="pokemonbtn()"><h2>Pokemon</h2></div>
        <div *ngIf="!pokemon" class="button" (click)="pokemonbtn()"><h2>Pokemon</h2></div>

        <div *ngIf="starwars" class="starwars">
            <h1>Starwars</h1>
            <p>Coming soon!</p>
        </div>

        <div *ngIf="pokemon" class="pokemon">
            <h1>Pokemon</h1>
            <p>Coming soon!</p>
        </div>
    </div>
</div>
