@import '../../custom-color.less';
.page{
    h1{
        margin-left:100px !important;
        margin-top:10px;
    }
    p{
        margin-left:100px !important;
        margin-top:-10px !important;
    }
}
.button{
    width:50%;
    height:40px;
    background-color:@light-grey;
    cursor: pointer;
    text-align:center;
    h2{
        padding-top:4px;
        color:@my-grey;
        font-size:14px;
        opacity: .6;
    }
}
.button:hover{
    background-color:@medium-grey;
    h2{
        opacity: 1;
    }
}
.btnActive{
    background-color:@medium-grey !important;
    h2{
        opacity: 1 !important;
    }
}
.btnLayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}