<div class="page">
    <p>I am highly motivated graduate software developer with a passion for problem<br/>
        solving and learning new skills. I am pursuing my first software job after recently<br/>
        graduating (not including my years internship) to drive my passion for<br/>
        programming and further develop my skills within the industry.</p>

    <h1>Skills</h1>
    
    <div class="skillContainer">
        <div class="skillBox"><h2>AngularJS</h2></div>
        <div class="skillBox"><h2>Angular 2-10</h2></div>
        <div class="skillBox"><h2>C#</h2></div>
        <div class="skillBox"><h2>C++</h2></div>
        <div class="skillBox"><h2>PHP</h2></div>
        <div class="skillBox"><h2>Java</h2></div>
        <div class="skillBox"><h2>JavaScript</h2></div>
        <div class="skillBox"><h2>HTML/CSS</h2></div>
        <div class="skillBox"><h2>Python</h2></div>
        <div class="skillBox"><h2>React Native</h2></div>
        <div class="skillBox"><h2>SQL</h2></div>
        <div class="skillBox"><h2>Neo4j</h2></div>
        <div class="skillBox"><h2>Linux</h2></div>
        <div class="skillBox"><h2>GitHub</h2></div>
        <div class="skillBox"><h2>Node.js</h2></div>
    </div>

    <h1>Employment History</h1>

    <table mdbTable class="employmentTable">
        <thead class="tablehead">
            <tr>
              <th *ngFor="let head of employmentHead" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of employmentElements">
            <td class="first">{{el.title}}</td>
            <td class="second">{{el.name}}</td>
            <td class="third">{{el.location}}</td>
            <td class="fourth">{{el.dates}}</td>
          </tr>
        </tbody>
    </table>

    <h1>Relevant Work Experience</h1>
    <h3>Airsweb - July 2018 – August 2019</h3>
    <div class="bigTextContainer">
        <p>During my Internship I was heavily involved in the development of a single
        codebase multi tenant EHS System also the development of the developers
        tool that is used to maintain/alter the tenants for different companies.
        My role during my time within this company was full stack and testing before
        committing the code for review also every month testing the whole system if
        the testers needed help.</p>
        <p>The workflow of the company was agile with a kanban approach with three
        week sprints then a week of testing and fixing any bugs found. During these
        sprints I was first on the support team fixing bugs, then creating features
        within teams of five for both systems. I created a UML entity relationship
        diagram for the database and a written document explaining how the
        database works for the clients to understand due to the release of the
        connectivity with Power BI which I was also involved in the connection to
        the databases. After developing quite a few features I went back to the
        support team where I worked with the implementers to get clients tenants
        functioning properly for release.</p>
    </div>

    <h3>Languages I used within this company:</h3>
      
    <div class="listLayout">
        <div class="languageList1">
            <p>- Angular2</p>
            <p>- AngularJS</p>
            <p>- C#</p>
        </div>
        <div class="languageList2">
            <p>- SQL</p>
            <p>- Neo4j (Cypher)</p>
        </div>
    </div>

    <h1>Qualifications & Certificates</h1>

    <table mdbTable class="gradeTable">
        <thead class="tablehead">
            <tr>
              <th *ngFor="let head of qualsHead" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of qualsElements">
            <td class="first">{{el.title}}</td>
            <td class="second">{{el.grade}}</td>
          </tr>
        </tbody>
    </table>

    <table mdbTable class="gradeTable noGap">
        <thead class="tablehead">
            <tr>
              <th *ngFor="let head of collegeHead1" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of collegeElements1">
            <td class="first">{{el.title}}</td>
            <td class="second">{{el.grade}}</td>
          </tr>
        </tbody>
    </table>

    <table mdbTable class="gradeTable widthDiff">
        <thead class="tablehead">
            <tr>
              <th *ngFor="let head of collegeHead2" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of collegeElements2">
            <td class="first">{{el.title}}</td>
          </tr>
        </tbody>
    </table>

    <table mdbTable class="gradeTable">
        <thead class="tablehead">
            <tr>
              <th *ngFor="let head of uniHead" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of uniElements">
            <td class="first">{{el.title}}</td>
            <td class="second">{{el.grade}}</td>
          </tr>
        </tbody>
    </table>

    <h1 class="noGap">Personal Projects</h1>
    <p>
        In my spare time I enjoy coming up with new ideas and implementing them, mainly<br/>
        to learn new skills or improve. My first project was in high school I taught myself<br/>
        the basics of html/css and php to create a games website.
    </p>

    <h1 class="noGap">IOT Routine Tripwire Switch</h1>
    <p class="textGap">
        Using Arduino to create a tripwire/motion detection switch to determine how many<br/>
        people are in a room and only triggers when the first person enters/the last person<br/>
        leaves. The smart switch can be turned on/off at certain parts of the day<br/>
        automatically and triggers Alexa commands. This project is finished however I<br/>
        have decided to change how the switch activates IOT devices.<br/>
        This project is created using Arduino IDE using C++.
    </p>
    <div class="textLink">
        <h3>Git: </h3><a href="https://gitlab.com/Jonez/iot-routine-tripwire-switch/">https://gitlab.com/Jonez/iot-routine-tripwire-switch/</a>
    </div>

    <h1 class="noGap">Quoting-Job Management System</h1>
    <p class="textGap">
        I started this project for my fathers company as his quoting system isn’t fit for<br/>
        purpose and cannot be customised. I am using technologies such as angular<br/>
        to make dynamic JSON based forms that can be customised to the users needs.<br/>
        The JSON templates for the forms will be stored in SQL getting sent through the<br/>
        backend written in Express.js and the frontend is written in Angular 10.<br/>
        This project is still in progress.
    </p>
    <div class="textLink">
        <h3>Git: </h3><a href="https://gitlab.com/Jonez/quoting-job-management-system/">https://gitlab.com/Jonez/quoting-job-management-system/</a>
    </div>

    <h1>Online CV / API Work Examples</h1>
    <h3 class="noGap">API:</h3>
    <p class="noGap">- Pokemon</p>
    <p class="noGap">- Starwars</p>
    <p class="textGap">
        The online CV I started the project to play around with different APIs, expand my<br/> 
        knowledge and show what I can do as well as having it easily accessible.
    </p>
    <div class="textLink">
        <h3>Git: </h3><a href="https://gitlab.com/Jonez/online-cv">https://gitlab.com/Jonez/online-cv</a>
    </div>
</div>