@import '../../custom-color.less';

.skillBox{
    padding-top:6px;
    margin-right:10px;
    margin-bottom:10px;
    width:120px;
    height:40px;
    background-color:@medium-grey;
    color:@my-grey;
    text-align:center;

    h2{
        font-size:18px !important;
        font-weight:500;
    }
}

.skillContainer{
    width:600px;
    margin-top: -10px;
    margin-left:240px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.employmentTable{
    margin-top:-10px;
    padding-bottom:10px;
    .first{
        width:120px;
    }
    .second{
        width:120px;
    }
    .third{
        width:100px;
    }
}
.languageList1{
    float:left;

    p{
        margin-left:0px !important;
        padding-top:0px !important;
    }
}
.languageList2{
    float:right;

    p{
        margin-left:0px !important;
        padding-top:0px !important;
    }
}
.listLayout{
    width:220px;
    margin-left:240px;
    margin-top:-20px;
    padding-bottom:100px;
}
.gradeTable{
    margin-top:-10px;
    padding-bottom:20px;

    .first{
        width:440px;
    }
    .second{
        width:66px;
    }
}
.noGap{
    padding-bottom:5px !important;
    margin-bottom:0px !important;
}
.widthDiff{
    .first{
        width:510px !important;
    }
}
.textGap{
    padding-bottom:5px;
}
.textLink{
    margin-top:-20px;
    padding-bottom:10px;
    h3{
        display:inline;
    }
    a{
        display:inline;
    }
}