<div class="headerPage">
    <h1>Feedback</h1>
</div>

<div class="page2">
    <div class="textPosition">
        <h3>Anonymous: </h3>
        <form action="https://formcarry.com/s/jPVlRy6Stq" method="POST" accept-charset="UTF-8" >
            <div class="form-group">
                <textarea type="text" name="Feedback" class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea> 
                <input type="hidden" name="_gotcha"> 
            </div>

            <button mat-flat-button color="warn" type="reset" class="resetButton">Clear</button>
            <button mat-flat-button color="primary" type="submit" class="sendButton">Send</button>
        </form>
    </div>
