.textPosition{
    padding-top:10px !important;
}
textarea{
    resize: none;
    margin-left:40px;
    margin-top:-15px;
    width:514px;
}
.sendButton{
    float:right;
    margin-right:40px;
}
.resetButton{
    float:left;
    margin-left:40px;
}