@import '../../custom-color.less';

.container{
    width:100%;
    height:70px;
    background-color:@my-grey;
    color:white;
}
.left{
    float:left;
    margin-bottom: 10px;
}

h1{
    margin: 3px 160px 0px;
    font-weight: 700;
}
h2{
    margin: 0px 160px 0px;
    font-weight:700;
}