<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="CV"><app-cv></app-cv></mat-tab>
  <mat-tab label="My Details"><app-details></app-details></mat-tab>
  <mat-tab label="API Work"><app-api-work></app-api-work></mat-tab>
  <mat-tab label="Feedback"><app-feedback></app-feedback></mat-tab>
</mat-tab-group>