@import '../../custom-color.less';

.container{
    width:100%;
    height:60px;
    background-color:@medium-grey;
}
.mat-drawer-container{
    background-color:@light-grey !important;
}
mat-tab-group{
    background-color:@light-grey;
    height:89vh;
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
}

.mat-tab-label {
    color:@my-grey;
}

.mat-tab-label.mat-tab-label-active {
    color:@my-grey;
}

.mat-ink-bar {
    background-color:@my-grey !important;
  }