@import './custom-color.less';

html, body { height: 100%; }
body { margin: 0; font-family:sans-serif;
        background-color:@light-grey;}

.mat-tab-header{
        background-color:@medium-grey;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        z-index:999;
}
.mat-tab-body-wrapper{
        height:100% !important;
}
.page{
        width: 1000px;
        padding-bottom: 20px;
        background-color:white;
        margin-left:0;
        margin-right:0;
        margin:0 auto;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

        p{
                font-size:14px !important;
                margin-left:240px;
        }
        p:first-child{
                padding-top:20px;
        }       

        h1{
                font-weight: 600;
                font-size:20px;
                color:@my-grey;
                margin-left:240px;
        }
        h3{
                font-weight: 600;
                font-size:14px;
                color:@my-grey;
                margin-left:240px;
                margin-top:-20px;
        }
        .bigTextContainer{
                word-wrap: break-word;
                width:760px;
                margin-top:-40px;
                padding-bottom:5px;
        }

        table{
                margin-left:240px;   
        }

        .tablehead{
                background-color:@my-grey;
                color:white;
                width:600px;
                font-weight:500;
                font-style: normal;
                text-align:left;
        }
        td{
                background-color:@light-grey;
        }
}

.page2{
        width:600px;
        height:200px;
        background-color:white;
        margin-top:10px !important;
        border-radius:0px 0px 5px 5px;
        margin-left:0;
        margin-right:0;
        margin:0 auto;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2), 2px 3px 10px 2px rgba(0, 0, 0, 0.19);

        h3{
                font-weight: 600;
                font-size:14px;
                color:@my-grey;
                margin-left:40px;
        }
        p{
                font-size:14px !important;
                padding-left:5px;
        }
}
.headerPage{
        margin-top:100px !important;
        width:600px;
        height:60px;   
        margin-left:0;
        margin-right:0;
        margin:0 auto;
        border-radius:5px 5px 0px 0px;
        background-color:white;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2), 2px 3px 10px 2px rgba(0, 0, 0, 0.19);

        h1{
                font-weight: 600;
                font-size:20px;
                color:@my-grey;
                margin-left:40px;
                padding-top:15px;
        }
}

.firstGap{
        padding-top:20px;
}
.textPosition{
        padding-top:35px;
}
.textInline{
        margin-top:-20px;
        padding-bottom:10px;
        padding-bottom:12px;
        h3{
            display:inline;
        }
        a{
            display:inline;
        }
        p{
            display:inline;
            margin-left:0px !important;
        }
}
.bottomPage{
        margin-top:10px !important;
        width:600px;
        height:60px;   
        margin-left:0;
        margin-right:0;
        margin:0 auto;
        border-radius:0px 0px 5px 5px;
        background-color:white;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2), 2px 3px 10px 2px rgba(0, 0, 0, 0.19);

        h1{
                font-weight: 600;
                font-size:20px;
                color:@my-grey;
                margin-left:40px;
                padding-top:15px;
        }
}
.apinav{
        .mat-tab-header{
                background-color:@light-grey !important;
                box-shadow: none !important;
                height:40px !important;
                width:1000px !important;
                margin-left:0 !important;
                margin-right:0 !important;
                margin:0 auto !important;
                box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2), 2px 3px 10px 2px rgba(0, 0, 0, 0.19) !important;
                z-index:999;
            }
            .mat-tab-label .mat-tab-label-content{
                    margin-top:-8px !important;
            }
            .mat-ink-bar {
                background-color:@my-grey !important;
                height:2px !important;
            }
}
    