<div class="headerPage">
    <h1>My Details</h1>
</div>

<div class="page2">
    <div class="textPosition">
        <div class="textInline"><h3>Name: </h3><p>Matthew Jones</p></div>
        <div class="textInline"><h3>Date of birth: </h3><p>26/02/1998</p></div>
        <div class="textInline"><h3>Address: </h3><p>1 Coppice Green, Warrington, WA5 7WB</p></div>
        <div class="textInline"><h3>Mobile: </h3><p>07511 241938</p></div>
        <div class="textInline"><h3>Email: </h3><p>matty7j@gmail.com</p></div>
        <div class="textInline"><h3>Git: </h3><a href="https://gitlab.com/Jonez/">https://gitlab.com/Jonez/</a></div>
        <div class="textInline"><h3>LinkedIn: </h3><a href="https://www.linkedin.com/in/matthew-jones-801225179/">https://www.linkedin.com/in/matthew-jones-801225179/</a></div>
        <div class="textInline"><h3>License: </h3><p>Full, clean driving license</p></div>
    </div>
</div>
